/*
Responsive
*/
@media (max-width:1200px) {
    
    .content-wrapper {
        padding: 0px 0px 20px;
    }
}


@media (max-width:1023px) {
    aside {
        width: 300px;
    }
    aside img {
        max-width: 100%;
    }
    .content-wrapper {
        margin-left: 300px;
        padding: 0px 0px 20px;
    }
}
@media (max-width:767px)  {
    body{
        position: relative;
    }
    aside {
        width: 100%;
        position: initial;
        padding-top: 50px;
    }
    aside img {
        width: 100%;
        position: fixed;
    }
    .content-wrapper {
        width: 100%;
        margin: 0;
        
        background: transparent;
        height: auto;
        min-height: auto;
    }

    header {
        position: fixed;
        z-index: 11111;
        top: 10px;
        background: transparent;
        left: 15px;
        right: 15px;
        border-radius: 5px;
        margin: 0 auto;
    }

    .reg-wrapper {
        padding: 30px 20px 10px;
        border-radius: 5px;
        background: #fff;
        position: relative;
    }
    .button-group-pills .btn {
        width: 49.5%;
    }
    
}
@media (max-width:479px)  {
    .logo {
        width: 105px;
    }
}

