/* style.css */

* {
    padding: 0;
    margin: 0;
}



body {
    background: #001020;
    font-family: 'Rubik', sans-serif;
}
aside{
    position: absolute;
    top: 0;
    left: 0;
    /* padding-top: 50px; */
    min-height: 100vh;
    width: 500px;
    height:100vh;
    z-index: -10;
    overflow: hidden;
}

aside img{
  display: block;
width: auto;
  height: auto;
  max-width:550px;
    
}


.content-wrapper {
    margin: 10px 0 0;
    margin-left: 500px;
    background: #fff;
    border-radius: 5px;
    margin-right: 10px;
    height: 97.5vh;
    overflow-y: scroll;
    padding: 0 20px 30px;
}
header{
    text-align: right
}
.logo {
    width: 120px;
    display: inline-block;
    opacity: 0;
}
.logo img {
    width: 100%;
}
.h1, h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0b2d37;
    margin-top: -10px;
}
.button-group-pills .btn {
     border-radius: 5px;
    line-height: 1.2;
    margin-bottom: 15px;
    border-color: #bbbbbb;
    background-color: #FFF;
    color: #5a5a5a;
    width: 48%;
    display: inline-block;
}
.button-group-pills .btn.active {
  border-color: #dee8f1;
  background-color: #dee8f1;
  color: #5a5a5a;
  box-shadow: none;
}
.button-group-pills .btn:hover {
  border-color: #dee8f1;
  background-color: #dee8f1;
  color: #5a5a5a;
}


.c-box .form-group {
  display: block;
  margin-bottom: 15px;
}

.c-box .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.c-box .form-group label {
  position: relative;
  cursor: pointer;
}

.c-box .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #042842;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
    margin-bottom: 5px;
}

.c-box .form-group input:checked + label:after {
      content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 11px;
    border: solid #042842;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.c-box {
    margin: 15px 0px 25px;
}

#trigger2,
#trigger {
  display: none;
}
.checker2,
.checker {
  background: url(../img/on%20off%20-2.png);
  background-position: center center;
      width: 49px;
    height: 28px;
  background-repeat: no-repeat;
}
#trigger2:checked + .checker2,
#trigger:checked + .checker {
  background: url(../img/on%20off-1.png);
  background-position: center center;
      width: 49px;
    height: 28px;
  background-repeat: no-repeat;
}
.form-control{
    background: #dfe8f1;
    border: 1px solid #dfe8f1;
    box-shadow: none;
        padding: 6px 12px !important;
}
.btn-custom{
    background: #042842;
    border-radius: 8px;
    color: #fff;
}
label{
    color: #293738;
    font-weight: 400;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.m-title {
        position: relative;
    margin-top: 20px;
}
.error-input{
    border-color: #fd011c;
}
span.error-top {
    position: absolute;
    right: 0;
    /* width: 100%; */
    font-size: 14px;
    color: #fd011c;
    top: 5px;
}
span.error-top.hidden {
    position: absolute;
    right: 0;
    /* width: 100%; */
    font-size: 14px;
    color: #fd011c;
    top: 5px;
    display: none;
}

.val2,
.val,
.roomate{
    opacity: .4;
    pointer-events: none;
}
.val2.show,
.roomate.show,
.val.show{
    opacity: 1;
    pointer-events: all;
}

.roomateTickBox{
    opacity: 1;
    pointer-events: all;
}
.roomateTickBox.show{
    opacity: .4;
    pointer-events: none;
}

.input-group{
   margin-bottom: 15px;
}
.input-group input{
    border-radius: 4px 0 0 4px !important;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  display: none;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 45%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay p {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}